/*
Ultmima actualización: 02/03/2015
By www.dacoto.xyz
Sistema de login y registro Admin LITE v.1.0
Dudas en www.dacoto.xyz/
*/
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
